* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main h3{
    font-size: 22px;
    padding-bottom: 4%;
}



/*Notre concept*/

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, #385FC4, rgba(255, 255, 255, 0.62)), url('images/concept-img2.png');
    position: absolute;
    z-index: 0;
  }


.notre-concept {
    height: 100vh;
    width: 100%;
    background-image: url('img-bg/Partners-People.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.div-concept1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement à gauche */
    width: 35%;
    color: #ffffff;
    margin-left: 18%;
    z-index: 2;
    font-family: Paytone One, sans-serif;
}

.div-concept1 h1{
    font-size: 80px;
    font-family: Paytone One, sans-serif;
}


.div-concept1 p{
    font-size: 18px;
}

/*inclusivité*/
.inclusivité {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5%;
}

.div-inclu1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.valeurs-inclu {
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.valeurs-inclu1 {
    color: #385FC4;
    font-family: 'Paytone One', sans-serif;
    line-height: 20px;
    padding-bottom: 25px;
}

.valeurs-inclu1 h1{
    font-size: 50px;
}
.valeurs-inclu1 h3{
    color: #F0C735;
}


.valeurs-inclu2 {
    font-size: 24px;
}

.inclu-img {
    grid-column: 2 / 2;
    width: 100%;
}

.inclu-img-1{
    width: 80%;
   
}



.div-inclu2 {
    width: 100%;
    
}

.schema-inclu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

/*valeurs ecologie*/

.écologie {
    display: flex;
    align-items: center;
    padding: 5%;
    height: 100vh;/* Ajustez la hauteur selon vos besoins*/
    width: 100%;
}

.div-eco {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 100px;
    
}

.valeurs-eco{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 2;
    background-color: #fff;

}

.valeurs-eco1 h1{
    color: #385FC4;
    font-family: Paytone One, sans-serif;
    font-size: 50px;
}
.valeurs-eco1 h3 {
    color: #76AF53;
    font-family: Paytone One, sans-serif;
    margin-left: auto;
}

.valeurs-eco1 {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding-bottom: 25px;
    margin-left: auto;



}

.valeurs-eco2 {
    font-size: 24px;
}
.img-eco{
    grid-column: 1 / 2;

}

.img-eco-1{
    width: 80%;
}


/*technologies*/


.technologie {
    display: flex;
    align-items: center;
    padding: 5%;
    height: 100vh; /* Ajustez la hauteur selon vos besoins */
    width: 100%;
}

.div-techno {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 100px;
}

.valeurs-techno {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
}

.valeurs-techno1 h1{
    color: #385FC4;
    font-family: Paytone One, sans-serif;
    font-size: 50px;
}
.valeurs-techno1 h3 {
    color: #F6CACA;
    font-family: Paytone One, sans-serif;
}

.valeurs-techno1 {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    padding-bottom: 25px;
}

.valeurs-techno2 {
    font-size: 24px;
}
.techno-img {
    grid-column: 2 / 2;
    position: relative;
}

.techno-img-1{
    width: 80%;
    padding-top: 10%;
}

/*Adherer*/
#adherer {
    padding: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-adherer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-besoin{

color: #385FC4;
font-weight: 400;
font-family: 'Paytone one', sans-serif;
font-size: 42px;
}

.div-rejoindre {

    color: #385FC4;
    font-weight: 400;
    font-family: 'Paytone One', sans-serif;
    font-size: 64px;
    }


    .div-bouton button {
        width: 400px;
        height: 100px;
        background-color: #F0C735;
        border-radius: 20px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }



    /*Responsive*/


@media only screen and (max-width: 1650px) {

    .techno-img-1{
        padding-top: 18%;
    }
    

    .div-rejoindre {
        font-size: 50px;
    }
}


@media only screen and (max-width: 1450px) {

   .valeurs-inclu2 p{
       font-size: 20px;
    }

    .valeurs-eco2 p{
        font-size: 20px;
    }

    .valeurs-techno2 p{
        font-size: 20px;
    }

    .div-inclu1{
        gap: 50px;
    }

    .div-eco{
        gap: 50px;
    }

    .div-techno{
        gap: 50px;
    }
}