/* PAGE ACCUEIL */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red !important; */
}

/* .entry-content {
    justify-content: center;
} */

.post-edit-link {
    display: none;
}

body {
    background-color: white;
}

.entry-content {
    background-color: white;
}

/* ---------------------------- IMAGE ------------------------------- */

/* .Home {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.imgHome { /*Image Maison chrysalide*/
    position: relative;
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

/* .texteSurImage {
    position: absolute;
    top: 50%; Ajustez la position verticale du texte
    left: 30%; Ajustez la position horizontale du texte
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; Ajustez la taille du texte selon vos besoins
    font-family: 'Paytone One', sans-serif;
    text-align: center;
} */

.texteSurImage-h2 { /*Titre Maison chrysalide*/
    display: flex;
    font-size: 70px;
    font-family: 'Paytone One', sans-serif;
    justify-content: start;
    font-weight: 1000;
    padding-bottom: 20px;
    color: white;
    margin-left: 130px;
}

.texteSurImage-p { /*Texte Maison chrysalide*/
    font-size: 20px;
    width: 550px;
    text-align: start;
    font-family: 'Helvetica', sans-serif;
    color: white;
    margin-left: 130px;
}

.Plus { /*Nouton*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Helvetica', sans-serif;
    color: #385FC4;
    font-size: 25px;
    text-transform: uppercase;
    width: 280px;
    height: 50px;
    border-radius: 72.5px;
    border: none;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(28, 28, 28, 0.396);
    margin-left: 130px;
}

@media screen and (max-width: 1100px) {
    .imgHome { /*Image Maison chrysalide*/
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* .texteSurImage {
        margin-left: 40px;
    } */

    .texteSurImage-h2 { /*Titre Maison chrysalide*/
        display: flex;
        margin: 0;
        font-size: 35px;
        font-family: 'Paytone One', sans-serif;
        justify-content: center;
    }

    .texteSurImage-p { /*Texte Maison chrysalide*/
        display: flex;
        font-size: 15px;
        width: 342px;
        font-family: 'Helvetica', sans-serif;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .Plus { /*Bouton voir plus*/
        display: flex;
        font-size: 15px;
        height: 50px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }   
}

/* ----------------------------NOTRE CONCEPT------------------------------- */

.concept { /*Div notre concept*/
    justify-content: center;
    align-items: center;
    height: 150vh;

    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.concept-h1 { /*Titre notre concept*/
    display: flex;
    font-family: 'Paytone One', sans-serif;
    color: #385FC4;
    font-weight: 1000;
    font-size: 50px;
    /* margin-top: 145px; */
}

/* .divsConcept {
    display: flex;
} */

/* .divConcept {
    display: grid;
    grid-template-columns: repeat(3, 1fr); Définit une grille de 3 colonnes de taille égale
    margin-top: 50px;
    min-width: 200px;
    justify-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
} */

/* .Inclus, .Eco, .Techno {
    min-width: 200px;
    min-height: 322px;
} */

.wp-block-columns {
    display: flex;
    width: 100%;
    height: 100%;
    /* justify-content: center; */
    /* justify-items: center; */
    align-content: center;
    align-items: center;
}

.columnConcept {
    display: flex;
}

.divConcept-img { /*Images partage, eco, techno*/
    display: flex;
    width: 450px;
    height: 400px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.Partage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Technologie {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Ecologie {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.txtInclus { /*Texte Partage*/
    font-family: 'Paytone One', sans-serif;
    color: #FFE792;
    justify-content: center;
    position: sticky;
    top: 416px;
}

.txtTech { /*Texte Technologie*/
    font-family: 'Paytone One', sans-serif;
    color: #F6CACA;
    justify-content: center;
}

.txtEco { /*Texte Ecologie*/
    font-family: 'Paytone One', sans-serif;
    color: #C7E5B5;
    justify-content: center;
}

.Eco-p, .Techno-p, .Inclus-p { /*Paragraphe partage, eco, techno*/
    display: grid;
    font-family: 'Helevitica Neue', sans-serif;
    color: #385FC4;
    width: 60%;
    font-size: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

/* .divConcept-p {
    display: grid;
    font-family: 'Helevitica Neue', sans-serif;
    color: #385FC4;
    width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
} */

/* .intro_asso {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
} */

@media screen and (max-width: 1300px) {
    .divConcept-img { /*Images partage, eco, techno*/
        display: flex;
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 1000px) {
    .concept { /*Div notre concept*/
        display: flex;
        flex-direction: column;
        height: 159vh;
    }

    .columnConcept {
        display: flex;
        flex-direction: column;
    }

    .Partage {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .Technologie {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .Ecologie {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .divConcept-img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
}

@media screen and (max-width: 582px) {
    .wp-block-column.is-vertically-aligned-top {
        flex-direction: column;
        gap: 0;

    } 
    .Inclus-p { 
        padding: 0;
    }

    .concept { 
        margin-top: 60px;
        height: auto;
        
    }

    .columnConcept {
        margin-bottom: 400px;
        height: auto;
    }
}

@media screen and (max-width: 900px) {
    .concept { 
        display: flex;
        flex-direction: column;
        
    }

    /* .columnConcept {
        display: flex;
        flex-direction: column;
    } */

    .divConcept-img {
        display: flex;
    }

    /* .Partage {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .Technologie {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .Ecologie {
        display: flex;
        flex-direction: row;
        gap: 20px;
    } */

    .Eco-p, .Techno-p, .Inclus-p {
        display: flex;
        flex-direction: column;
        height: 236px;
        width: 225px;
    }
}

/* @media (min-width: 782px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
    }
} */

/* ----------------------------NOUS SOUTENIR------------------------------- */

.soutiens { /*Div soutiens*/
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #385FC4;
    height: 90vh;
}

.imgVague {
    display: flex;
    width: 100%;
    height: 165vh;
    object-fit: cover;
}

.soutiensh2 { /*Titre H2*/
    color: white;
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
    font-weight: 800;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
}

.soutiensh1 { /*Tittre H1*/
    color: white;
    font-family: 'Paytone One', sans-serif;
    font-size: 55px;
    width: 930px;
    font-weight: 1000;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.soutenir { /*Boutons voir plus soutiens*/
    display: flex;
    background-color: #F0C735;
    border: none;
    border-radius: 72.5px;
    height: 70px;
    width: 300px;
    box-shadow: 0px 4px 4px rgba(28, 28, 28, 0.396);
    text-align: center;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 950px) {
    .imgVague { /*Image Maison chrysalide*/
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

    .Soutensoutiensir { /*Div soutiens*/
        height: 70vh;
    }

    .soutiensh2 { /*Titre H2*/
        font-size: 25px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .soutiensh1 { /*Tittre H1*/
        font-size: 40px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .soutenir { /*Boutons voir plus soutiens*/
        font-size: 15px;
        height: 50px;
        width: 200px;
    }
}


/* ----------------------------ACTUALITES------------------------------- */

.actualites {
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 117vh;
    justify-content: center;
    background-color: white;
    height: auto;
    margin-bottom: 50px;
}

.actusTitre{
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    font-family: 'Paytone One', sans-serif;
    color: #385FC4;
    font-weight: 1000;
    font-size: 50px;
}

.actusContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Paytone One', sans-serif;
    color: white;
}


/* .actu1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #385FC4;
    width: 80%;
    height: 400px;
}

.actu2 {
    background-color: #385FC4;
    width: 80%;
    text-align: center;
}

.actu3 {
    background-color: #385FC4;
    width: 80%;
    text-align: center;
}

.actu4 {
    background-color: #385FC4;
    width: 80%;
    text-align: center;
}

.actu5 {
    background-color: #385FC4;
    width: 80%;
    text-align: center;
} */

.actu { 
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;

}

.actu h2 { 
    color: #385FC4;
    font-size: 18px;
    width: 100%;
    padding: 20px;
}
/* Ajoutez ces styles CSS pour positionner le texte en bas à gauche */
/* .actusContent h2 {
    align-self: flex-end;
    padding: 4px;
    text-align: left;
} */




@media screen and (max-width: 800px) {
    .actualites {
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: auto;
        justify-content: center;
    } 
    .actu {
        width: 500px;
    }
    
}
@media screen and (max-width: 810px) {
   
    .actu {
        width: 500px;
    }
    
}
@media screen and (max-width: 534px) {
   
    .actu {
        margin: 0 10px 0 10px;
    }
    
}
@media screen and (max-width: 500px) {
   
    .actu {
        width: 300px;
    }
    
}

/* ----------------------------ACTUALITES------------------------------- */

.PerceNeige {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    padding-bottom: 30px;
}

.imgPerceNeige {
    display: flex;
    width: 40%;
}

@media screen and (max-width: 925px) {
    .actusContent { 
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 810px) {
    .actusContent { 
        grid-template-columns: 1fr;
    }
}

.actus-pp {
    font-family: 'Helvetica', sans-serif;
    color: #385fc4;
    font-size: 20px;
    padding-left: 50px;
    width: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}