* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-main {
    margin-top: 50px;
    padding-bottom: 50px
}

.entry-content {
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.post-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-edit-link {
    display: none;
}

.carousel-slider__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.carousel-slider-nav-icon {
    color: black;
}

/* ----------------------------NOTRE CONCEPT------------------------------- */

.concept {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 40px;
}

.concept h1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    font-family: 'Paytone One', sans-serif;
    color: #385FC4;
    font-weight: 1000;
    font-size: 35px;
}

.divConcept {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    justify-items: center;
    justify-content: center;
}

.divConcept img {
    display: grid;
    width: 70%;
    height: 65%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.divConcept p {
    display: grid;
    font-family: 'Paytone One', sans-serif;
    color: #385FC4;
    width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


/* ----------------------------NOUS SOUTENIR------------------------------- */

.soutiens {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    padding-top: 80px;
    background-color: #385FC4;
}

.soutiensh2 {
    font-family: 'Paytone One', sans-serif;
    color: #D9D9D9;
    font-size: 35px;
    font-weight: 800;
    justify-content: center;
    text-transform: uppercase;
}

.soutiensh1 {
    font-family: 'Paytone One', sans-serif;
    color: white;
    font-size: 50px;
    width: 930px;
    font-weight: 1000;
    text-transform: uppercase;
    text-align: center;
}

.soutiensh3 {
    font-family: 'Paytone One', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 700;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 50px;
}

.soutenir {
    background-color: #F0C735;
    border: none;
    color: white;
    border-radius: 72.5px;
    height: 70px;
    width: 300px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(28, 28, 28, 0.396);
}


/* ----------------------------ACTUALITES------------------------------- */

.actualites {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 40px;
}

.actusTitre{
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    font-family: 'Paytone One', sans-serif;
    color: #385FC4;
    font-weight: 1000;
    font-size: 35px;
}

.actusContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Paytone One', sans-serif;
    color: white;
}

.actu1 {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #385FC4;
    width: 80%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.actu2 {
    background-color: rgb(229, 135, 215);
    width: 80%;
    text-align: center;
}

.actu3 {
    background-color: rgb(229, 220, 135);
    width: 80%;
    text-align: center;
}

.actu4 {
    background-color: rgb(135, 229, 152);
    width: 80%;
    text-align: center;
}

.actu5 {
    background-color: rgb(135, 166, 229);
    width: 80%;
    text-align: center;
}

/* -----------------------------INCLUSIVITE------------------------------ */

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Paytone One', sans-serif;
    color: #385FC4;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.inclusivite {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(154, 177, 227);
    position: relative;
    overflow: hidden;
}

.inclusImg {
    width: 60%; /* Ajustez la largeur de l'image selon vos besoins */
    border-radius: 50%;
    overflow: visible;
}

.inclusImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inclusivite p {
    flex-grow: 1; /* Permet au texte de s'étendre sur toute la hauteur disponible */
    font-family: 'Paytone One', sans-serif;
    color: white;
    padding: 15px;
    border-radius: 0.3em;
    box-sizing: border-box;
    position: relative;
    z-index: 2; /* Assurez-vous que le texte est devant l'image */
}

/* -----------------------------INCLUSIVITE------------------------------ */

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre3 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Paytone One', sans-serif;
    color: #385FC4;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}